$font-family: '-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif';
$font-family-code: 'Consolas, Monaco,"Andale Mono", "Ubuntu Mono", monospace';
$content-width: 920px;
$home-page-width:920px;